li {
    color: blue;
}

.favorite {
    color: red;
}

.test-box {
    border: 2px solid black;
    padding: 10px;
    margin: 25px;
    width: 400px;
    height: 100px;
}

#primary-interest {
    color: green;
}

nav {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    /* margin: 0 auto; */
    justify-content: center;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

nav a {
    color: black;
}

body {
    font-family: Arial, sans-serif;
    border: 5px solid black;
    max-width: 1000px;
    margin: 0 auto;
}

main {
    max-width: 700px;
    margin: 0 auto;
    border: 2px solid red;
    padding: 6px;
}

header {
    margin: 0 auto;
    border: 2px solid blue;
    text-align: center;
}

/* a {
    display: block;
} */